In [1]:
# Clone the Repository
!git clone https://FaridRash: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@github.com/FaridRash/HW-SW-B.git Big-Data

Cloning into 'Big-Data'...
remote: Enumerating objects: 81, done.
remote: Counting objects: 100% (81/81), done.
remote: Compressing objects: 100% (79/79), done.
remote: Total 81 (delta 31), reused 8 (delta 0), pack-reused 0
Receiving objects: 100% (81/81), 6.30 MiB | 9.57 MiB/s, done.
Resolving deltas: 100% (31/31), done.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.figure_factory as ff
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv('/content/Big-Data/Data/xAPI-Edu-Data.csv')

In [4]:
data.head(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M
6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L
7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M
8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Good,Under-7,M
9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M

In [5]:
print(data.shape)

(480, 17)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              480 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     480 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               480 non-null    int64
 10  VisITedResources          480 non-null    int64
 11  AnnouncementsView         480 non-null    int64
 12  Discussion                480 non-null    int64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    object
dtypes: int64(4), object(13)
memory usage: 63.9+ KB

In [7]:
data.describe()

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count   480.000000        480.000000         480.000000  480.000000
mean     46.775000         54.797917          37.918750   43.283333
std      30.779223         33.080007          26.611244   27.637735
min       0.000000          0.000000           0.000000    1.000000
25%      15.750000         20.000000          14.000000   20.000000
50%      50.000000         65.000000          33.000000   39.000000
75%      75.000000         84.000000          58.000000   70.000000
max     100.000000         99.000000          98.000000   99.000000

In [8]:
columns_list = data.columns.tolist()
for index, column_name in enumerate(columns_list):
    print(f"{index + 1}. {column_name}")

1. gender
2. NationalITy
3. PlaceofBirth
4. StageID
5. GradeID
6. SectionID
7. Topic
8. Semester
9. Relation
10. raisedhands
11. VisITedResources
12. AnnouncementsView
13. Discussion
14. ParentAnsweringSurvey
15. ParentschoolSatisfaction
16. StudentAbsenceDays
17. Class

In [9]:
missing_data = data.isnull().sum()
print("Missing values in each column:")
print(missing_data)

Missing values in each column:
gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [10]:
data.duplicated().any(), data.duplicated().sum()

(True, 2)

In [11]:
data.drop_duplicates(inplace=True)

In [12]:
data.duplicated().any(), data.duplicated().sum()

(False, 0)

In [13]:
object_columns = data.select_dtypes(include=['object']).columns.tolist()

for col_index in range(len(object_columns)):
    col_name = object_columns[col_index]
    unique_values = data[col_name].unique()
    print(f"Unique values for column '{col_name}':")
    for value in unique_values:
        print(value)
    print()

Unique values for column 'gender':
M
F

Unique values for column 'NationalITy':
KW
lebanon
Egypt
SaudiArabia
USA
Jordan
venzuela
Iran
Tunis
Morocco
Syria
Palestine
Iraq
Lybia

Unique values for column 'PlaceofBirth':
KuwaIT
lebanon
Egypt
SaudiArabia
USA
Jordan
venzuela
Iran
Tunis
Morocco
Syria
Iraq
Palestine
Lybia

Unique values for column 'StageID':
lowerlevel
MiddleSchool
HighSchool

Unique values for column 'GradeID':
G-04
G-07
G-08
G-06
G-05
G-09
G-12
G-11
G-10
G-02

Unique values for column 'SectionID':
A
B
C

Unique values for column 'Topic':
IT
Math
Arabic
Science
English
Quran
Spanish
French
History
Biology
Chemistry
Geology

Unique values for column 'Semester':
F
S

Unique values for column 'Relation':
Father
Mum

Unique values for column 'ParentAnsweringSurvey':
Yes
No

Unique values for column 'ParentschoolSatisfaction':
Good
Bad

Unique values for column 'StudentAbsenceDays':
Under-7
Above-7

Unique values for column 'Class':
M
L
H

In [14]:
def get_uniques_alternative(df, columns):
    """
    Returns a dictionary of unique values for specified columns in the DataFrame.

    :param df: pandas DataFrame
    :param columns: list of column names
    :return: dictionary with column names as keys and lists of unique values as values
    """
    unique_values_dict = {}
    for column in columns:
        unique_values_dict[column] = df[column].unique().tolist()
    return unique_values_dict

def get_categorical_columns_alternative(df):
    """
    Returns a list of column names that have a data type of 'object'.

    :param df: pandas DataFrame
    :return: list of categorical column names
    """
    categorical_columns = []
    for column in df.columns:
        if df.dtypes[column] == 'object':
            categorical_columns.append(column)
    return categorical_columns

In [15]:
get_uniques_alternative(data, get_categorical_columns_alternative(data))

{'gender': ['M', 'F'],
 'NationalITy': ['KW',
  'lebanon',
  'Egypt',
  'SaudiArabia',
  'USA',
  'Jordan',
  'venzuela',
  'Iran',
  'Tunis',
  'Morocco',
  'Syria',
  'Palestine',
  'Iraq',
  'Lybia'],
 'PlaceofBirth': ['KuwaIT',
  'lebanon',
  'Egypt',
  'SaudiArabia',
  'USA',
  'Jordan',
  'venzuela',
  'Iran',
  'Tunis',
  'Morocco',
  'Syria',
  'Iraq',
  'Palestine',
  'Lybia'],
 'StageID': ['lowerlevel', 'MiddleSchool', 'HighSchool'],
 'GradeID': ['G-04',
  'G-07',
  'G-08',
  'G-06',
  'G-05',
  'G-09',
  'G-12',
  'G-11',
  'G-10',
  'G-02'],
 'SectionID': ['A', 'B', 'C'],
 'Topic': ['IT',
  'Math',
  'Arabic',
  'Science',
  'English',
  'Quran',
  'Spanish',
  'French',
  'History',
  'Biology',
  'Chemistry',
  'Geology'],
 'Semester': ['F', 'S'],
 'Relation': ['Father', 'Mum'],
 'ParentAnsweringSurvey': ['Yes', 'No'],
 'ParentschoolSatisfaction': ['Good', 'Bad'],
 'StudentAbsenceDays': ['Under-7', 'Above-7'],
 'Class': ['M', 'L', 'H']}

In [16]:
data.columns

Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'],
      dtype='object')

In [17]:
print(data.groupby(['Class'])['gender'].value_counts(normalize=True),'\n','\n','\n')
print(data.groupby(['Class'])['NationalITy'].value_counts(normalize=True),'\n','\n','\n')
print(data.groupby(['Class'])['PlaceofBirth'].value_counts(normalize=True),'\n','\n','\n')
print(data.groupby(['Class'])['StageID'].value_counts(normalize=True),'\n','\n','\n')

Class  gender
H      F         0.528169
       M         0.471831
L      M         0.808000
       F         0.192000
M      M         0.639810
       F         0.360190
Name: proportion, dtype: float64



Class  NationalITy
H      Jordan         0.373239
       KW             0.253521
       Iraq           0.098592
       Palestine      0.084507
       lebanon        0.063380
       SaudiArabia    0.042254
       USA            0.021127
       Tunis          0.021127
       Egypt          0.014085
       Syria          0.014085
       venzuela       0.007042
       Morocco        0.007042
L      KW             0.544000
       Jordan         0.280000
       Lybia          0.048000
       Tunis          0.032000
       Egypt          0.024000
       Syria          0.016000
       lebanon        0.016000
       Iran           0.016000
       USA            0.008000
       SaudiArabia    0.008000
       Morocco        0.008000
M      Jordan         0.388626
       KW             0.355450
       Palestine      0.075829
       Iraq           0.037915
       lebanon        0.028436
       Tunis          0.023697
       SaudiArabia    0.018957
       Egypt          0.018957
       Iran           0.018957
       Syria          0.014218
       Morocco        0.009479
       USA            0.009479
Name: proportion, dtype: float64



Class  PlaceofBirth
H      Jordan          0.373239
       KuwaIT          0.246479
       Iraq            0.098592
       lebanon         0.077465
       SaudiArabia     0.049296
       USA             0.042254
       Palestine       0.042254
       Egypt           0.021127
       Tunis           0.021127
       Syria           0.014085
       venzuela        0.007042
       Morocco         0.007042
L      KuwaIT          0.552000
       Jordan          0.256000
       Lybia           0.048000
       SaudiArabia     0.032000
       Egypt           0.024000
       Tunis           0.024000
       USA             0.016000
       lebanon         0.016000
       Iran            0.016000
       Syria           0.008000
       Morocco         0.008000
M      Jordan          0.421801
       KuwaIT          0.360190
       USA             0.037915
       Iraq            0.037915
       lebanon         0.028436
       SaudiArabia     0.023697
       Iran            0.018957
       Palestine       0.018957
       Egypt           0.014218
       Syria           0.014218
       Tunis           0.014218
       Morocco         0.009479
Name: proportion, dtype: float64



Class  StageID
H      MiddleSchool    0.535211
       lowerlevel      0.387324
       HighSchool      0.077465
L      lowerlevel      0.504000
       MiddleSchool    0.432000
       HighSchool      0.064000
M      MiddleSchool    0.559242
       lowerlevel      0.374408
       HighSchool      0.066351
Name: proportion, dtype: float64

In [18]:
# Feature categories
binary_features = ['gender', 'Semester', 'Relation', 'ParentAnsweringSurvey', 'ParentschoolSatisfaction', 'StudentAbsenceDays']
ordinal_features = ['StageID', 'GradeID']
nominal_features = ['NationalITy', 'PlaceofBirth', 'SectionID', 'Topic']
target_column = 'Class'

In [19]:
# Binary encoding positive values
binary_positive_values = ['M', 'S', 'Father', 'Yes', 'Good', 'Above-7']

In [20]:
# Ordering for ordinal features
stage_ordering = ['lowerlevel', 'MiddleSchool', 'HighSchool']
grade_ordering = ['G-02', 'G-04', 'G-05', 'G-06', 'G-07', 'G-08', 'G-09', 'G-10', 'G-11', 'G-12']

In [21]:
# Prefixes for nominal features
nominal_prefixes = ['N', 'B', 'S', 'T']

In [22]:
# Function for binary encoding
def binary_encode_alternative(df, column, positive_value):
    df = df.copy()
    df[column] = df[column].map(lambda x: 1 if x == positive_value else 0)
    return df

In [23]:
# Function for ordinal encoding
def ordinal_encode_alternative(df, column, ordering):
    df = df.copy()
    df[column] = df[column].map(ordering.index)
    return df

In [24]:
# Function for one-hot encoding
def onehot_encode_alternative(df, column, prefix):
    df = df.copy()
    dummies = pd.get_dummies(df[column], prefix=prefix).astype(int)
    df = df.join(dummies).drop(column, axis=1)
    return df

In [25]:
# Apply binary encoding
for feature, positive_value in zip(binary_features, binary_positive_values):
    data = binary_encode_alternative(data, feature, positive_value)

In [26]:
# Apply one-hot encoding
for feature, prefix in zip(nominal_features, nominal_prefixes):
    data = onehot_encode_alternative(data, feature, prefix)

In [27]:
# Apply ordinal encoding
data = ordinal_encode_alternative(data, 'StageID', stage_ordering)
data = ordinal_encode_alternative(data, 'GradeID', grade_ordering)

In [28]:
# Encode target column
target_ordering = ['L', 'M', 'H']
data = ordinal_encode_alternative(data, target_column, target_ordering)

In [29]:
data.head(10)

,gender,StageID,GradeID,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,...,T_Chemistry,T_English,T_French,T_Geology,T_History,T_IT,T_Math,T_Quran,T_Science,T_Spanish
0,1,0,1,0,1,15,16,2,20,1,...,0,0,0,0,0,1,0,0,0,0
1,1,0,1,0,1,20,20,3,25,1,...,0,0,0,0,0,1,0,0,0,0
2,1,0,1,0,1,10,7,0,30,0,...,0,0,0,0,0,1,0,0,0,0
3,1,0,1,0,1,30,25,5,35,0,...,0,0,0,0,0,1,0,0,0,0
4,1,0,1,0,1,40,50,12,50,0,...,0,0,0,0,0,1,0,0,0,0
5,0,0,1,0,1,42,30,13,70,1,...,0,0,0,0,0,1,0,0,0,0
6,1,1,4,0,1,35,12,0,17,0,...,0,0,0,0,0,0,1,0,0,0
7,1,1,4,0,1,50,10,15,22,1,...,0,0,0,0,0,0,1,0,0,0
8,0,1,4,0,1,12,21,16,50,1,...,0,0,0,0,0,0,1,0,0,0
9,0,1,4,0,1,70,80,25,70,1,...,0,0,0,0,0,1,0,0,0,0

In [30]:
print(data.shape)

(478, 56)

In [31]:
columns_list = data.columns.tolist()
for index, column_name in enumerate(columns_list):
    print(f"{index + 1}. {column_name}")

1. gender
2. StageID
3. GradeID
4. Semester
5. Relation
6. raisedhands
7. VisITedResources
8. AnnouncementsView
9. Discussion
10. ParentAnsweringSurvey
11. ParentschoolSatisfaction
12. StudentAbsenceDays
13. Class
14. N_Egypt
15. N_Iran
16. N_Iraq
17. N_Jordan
18. N_KW
19. N_Lybia
20. N_Morocco
21. N_Palestine
22. N_SaudiArabia
23. N_Syria
24. N_Tunis
25. N_USA
26. N_lebanon
27. N_venzuela
28. B_Egypt
29. B_Iran
30. B_Iraq
31. B_Jordan
32. B_KuwaIT
33. B_Lybia
34. B_Morocco
35. B_Palestine
36. B_SaudiArabia
37. B_Syria
38. B_Tunis
39. B_USA
40. B_lebanon
41. B_venzuela
42. S_A
43. S_B
44. S_C
45. T_Arabic
46. T_Biology
47. T_Chemistry
48. T_English
49. T_French
50. T_Geology
51. T_History
52. T_IT
53. T_Math
54. T_Quran
55. T_Science
56. T_Spanish

In [32]:
missing_values = data.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 gender                      0
StageID                     0
GradeID                     0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
N_Egypt                     0
N_Iran                      0
N_Iraq                      0
N_Jordan                    0
N_KW                        0
N_Lybia                     0
N_Morocco                   0
N_Palestine                 0
N_SaudiArabia               0
N_Syria                     0
N_Tunis                     0
N_USA                       0
N_lebanon                   0
N_venzuela                  0
B_Egypt                     0
B_Iran                      0
B_Iraq                      0
B_Jordan                    0
B_KuwaIT                    0
B_Lybia                     0
B_Morocco                   0
B_Palestine                 0
B_SaudiArabia               0
B_Syria                     0
B_Tunis                     0
B_USA                       0
B_lebanon                   0
B_venzuela                  0
S_A                         0
S_B                         0
S_C                         0
T_Arabic                    0
T_Biology                   0
T_Chemistry                 0
T_English                   0
T_French                    0
T_Geology                   0
T_History                   0
T_IT                        0
T_Math                      0
T_Quran                     0
T_Science                   0
T_Spanish                   0
dtype: int64