In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [2]:
data = pd.read_csv('/content/xAPI-Edu-Data.csv')

In [3]:
data.head(10)

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
5,F,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,42,30,13,70,Yes,Bad,Above-7,M
6,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,35,12,0,17,No,Bad,Above-7,L
7,M,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,50,10,15,22,Yes,Good,Under-7,M
8,F,KW,KuwaIT,MiddleSchool,G-07,A,Math,F,Father,12,21,16,50,Yes,Good,Under-7,M
9,F,KW,KuwaIT,MiddleSchool,G-07,B,IT,F,Father,70,80,25,70,Yes,Good,Under-7,M

In [4]:
print(data.shape)

(480, 17)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              480 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     480 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               480 non-null    int64
 10  VisITedResources          480 non-null    int64
 11  AnnouncementsView         480 non-null    int64
 12  Discussion                480 non-null    int64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    object
dtypes: int64(4), object(13)
memory usage: 63.9+ KB

In [6]:
data.describe()

       raisedhands  VisITedResources  AnnouncementsView  Discussion
count   480.000000        480.000000         480.000000  480.000000
mean     46.775000         54.797917          37.918750   43.283333
std      30.779223         33.080007          26.611244   27.637735
min       0.000000          0.000000           0.000000    1.000000
25%      15.750000         20.000000          14.000000   20.000000
50%      50.000000         65.000000          33.000000   39.000000
75%      75.000000         84.000000          58.000000   70.000000
max     100.000000         99.000000          98.000000   99.000000

In [7]:
columns_list = data.columns.tolist()
for index, column_name in enumerate(columns_list):
    print(f"{index + 1}. {column_name}")

1. gender
2. NationalITy
3. PlaceofBirth
4. StageID
5. GradeID
6. SectionID
7. Topic
8. Semester
9. Relation
10. raisedhands
11. VisITedResources
12. AnnouncementsView
13. Discussion
14. ParentAnsweringSurvey
15. ParentschoolSatisfaction
16. StudentAbsenceDays
17. Class

In [8]:
missing_data = data.isnull().sum()
print("Missing values in each column:")
print(missing_data)

Missing values in each column:
gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [9]:
data.duplicated().any(), data.duplicated().sum()

(True, 2)

In [10]:
data.drop_duplicates(inplace=True)

In [11]:
data.duplicated().any(), data.duplicated().sum()

(False, 0)

In [12]:
object_columns = data.select_dtypes(include=['object']).columns.tolist()

for col_index in range(len(object_columns)):
    col_name = object_columns[col_index]
    unique_values = data[col_name].unique()
    print(f"Unique values for column '{col_name}':")
    for value in unique_values:
        print(value)
    print()

Unique values for column 'gender':
M
F

Unique values for column 'NationalITy':
KW
lebanon
Egypt
SaudiArabia
USA
Jordan
venzuela
Iran
Tunis
Morocco
Syria
Palestine
Iraq
Lybia

Unique values for column 'PlaceofBirth':
KuwaIT
lebanon
Egypt
SaudiArabia
USA
Jordan
venzuela
Iran
Tunis
Morocco
Syria
Iraq
Palestine
Lybia

Unique values for column 'StageID':
lowerlevel
MiddleSchool
HighSchool

Unique values for column 'GradeID':
G-04
G-07
G-08
G-06
G-05
G-09
G-12
G-11
G-10
G-02

Unique values for column 'SectionID':
A
B
C

Unique values for column 'Topic':
IT
Math
Arabic
Science
English
Quran
Spanish
French
History
Biology
Chemistry
Geology

Unique values for column 'Semester':
F
S

Unique values for column 'Relation':
Father
Mum

Unique values for column 'ParentAnsweringSurvey':
Yes
No

Unique values for column 'ParentschoolSatisfaction':
Good
Bad

Unique values for column 'StudentAbsenceDays':
Under-7
Above-7

Unique values for column 'Class':
M
L
H

In [13]:
def get_uniques_alternative(df, columns):
    """
    Returns a dictionary of unique values for specified columns in the DataFrame.

    :param df: pandas DataFrame
    :param columns: list of column names
    :return: dictionary with column names as keys and lists of unique values as values
    """
    unique_values_dict = {}
    for column in columns:
        unique_values_dict[column] = df[column].unique().tolist()
    return unique_values_dict

def get_categorical_columns_alternative(df):
    """
    Returns a list of column names that have a data type of 'object'.

    :param df: pandas DataFrame
    :return: list of categorical column names
    """
    categorical_columns = []
    for column in df.columns:
        if df.dtypes[column] == 'object':
            categorical_columns.append(column)
    return categorical_columns

In [14]:
get_uniques_alternative(data, get_categorical_columns_alternative(data))

{'gender': ['M', 'F'],
 'NationalITy': ['KW',
  'lebanon',
  'Egypt',
  'SaudiArabia',
  'USA',
  'Jordan',
  'venzuela',
  'Iran',
  'Tunis',
  'Morocco',
  'Syria',
  'Palestine',
  'Iraq',
  'Lybia'],
 'PlaceofBirth': ['KuwaIT',
  'lebanon',
  'Egypt',
  'SaudiArabia',
  'USA',
  'Jordan',
  'venzuela',
  'Iran',
  'Tunis',
  'Morocco',
  'Syria',
  'Iraq',
  'Palestine',
  'Lybia'],
 'StageID': ['lowerlevel', 'MiddleSchool', 'HighSchool'],
 'GradeID': ['G-04',
  'G-07',
  'G-08',
  'G-06',
  'G-05',
  'G-09',
  'G-12',
  'G-11',
  'G-10',
  'G-02'],
 'SectionID': ['A', 'B', 'C'],
 'Topic': ['IT',
  'Math',
  'Arabic',
  'Science',
  'English',
  'Quran',
  'Spanish',
  'French',
  'History',
  'Biology',
  'Chemistry',
  'Geology'],
 'Semester': ['F', 'S'],
 'Relation': ['Father', 'Mum'],
 'ParentAnsweringSurvey': ['Yes', 'No'],
 'ParentschoolSatisfaction': ['Good', 'Bad'],
 'StudentAbsenceDays': ['Under-7', 'Above-7'],
 'Class': ['M', 'L', 'H']}

In [15]:
# Feature categories
binary_features = ['gender', 'Semester', 'Relation', 'ParentAnsweringSurvey', 'ParentschoolSatisfaction', 'StudentAbsenceDays']
ordinal_features = ['StageID', 'GradeID']
nominal_features = ['NationalITy', 'PlaceofBirth', 'SectionID', 'Topic']
target_column = 'Class'

In [16]:
# Binary encoding positive values
binary_positive_values = ['M', 'S', 'Father', 'Yes', 'Good', 'Above-7']

In [17]:
# Ordering for ordinal features
stage_ordering = ['lowerlevel', 'MiddleSchool', 'HighSchool']
grade_ordering = ['G-02', 'G-04', 'G-05', 'G-06', 'G-07', 'G-08', 'G-09', 'G-10', 'G-11', 'G-12']

In [18]:
# Prefixes for nominal features
nominal_prefixes = ['N', 'B', 'S', 'T']

In [19]:
# Function for binary encoding
def binary_encode_alternative(df, column, positive_value):
    df = df.copy()
    df[column] = df[column].map(lambda x: 1 if x == positive_value else 0)
    return df

In [20]:
# Function for ordinal encoding
def ordinal_encode_alternative(df, column, ordering):
    df = df.copy()
    df[column] = df[column].map(ordering.index)
    return df

In [21]:
# Function for one-hot encoding
def onehot_encode_alternative(df, column, prefix):
    df = df.copy()
    dummies = pd.get_dummies(df[column], prefix=prefix).astype(int)
    df = df.join(dummies).drop(column, axis=1)
    return df

In [22]:
# Apply binary encoding
for feature, positive_value in zip(binary_features, binary_positive_values):
    data = binary_encode_alternative(data, feature, positive_value)

In [23]:
# Apply one-hot encoding
for feature, prefix in zip(nominal_features, nominal_prefixes):
    data = onehot_encode_alternative(data, feature, prefix)

In [24]:
# Apply ordinal encoding
data = ordinal_encode_alternative(data, 'StageID', stage_ordering)
data = ordinal_encode_alternative(data, 'GradeID', grade_ordering)

In [25]:
# Encode target column
target_ordering = ['L', 'M', 'H']
data = ordinal_encode_alternative(data, target_column, target_ordering)

In [26]:
data.head(10)

,gender,StageID,GradeID,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,...,T_Chemistry,T_English,T_French,T_Geology,T_History,T_IT,T_Math,T_Quran,T_Science,T_Spanish
0,1,0,1,0,1,15,16,2,20,1,...,0,0,0,0,0,1,0,0,0,0
1,1,0,1,0,1,20,20,3,25,1,...,0,0,0,0,0,1,0,0,0,0
2,1,0,1,0,1,10,7,0,30,0,...,0,0,0,0,0,1,0,0,0,0
3,1,0,1,0,1,30,25,5,35,0,...,0,0,0,0,0,1,0,0,0,0
4,1,0,1,0,1,40,50,12,50,0,...,0,0,0,0,0,1,0,0,0,0
5,0,0,1,0,1,42,30,13,70,1,...,0,0,0,0,0,1,0,0,0,0
6,1,1,4,0,1,35,12,0,17,0,...,0,0,0,0,0,0,1,0,0,0
7,1,1,4,0,1,50,10,15,22,1,...,0,0,0,0,0,0,1,0,0,0
8,0,1,4,0,1,12,21,16,50,1,...,0,0,0,0,0,0,1,0,0,0
9,0,1,4,0,1,70,80,25,70,1,...,0,0,0,0,0,1,0,0,0,0

In [29]:
print(data.shape)

(478, 56)

In [30]:
columns_list = data.columns.tolist()
for index, column_name in enumerate(columns_list):
    print(f"{index + 1}. {column_name}")

1. gender
2. StageID
3. GradeID
4. Semester
5. Relation
6. raisedhands
7. VisITedResources
8. AnnouncementsView
9. Discussion
10. ParentAnsweringSurvey
11. ParentschoolSatisfaction
12. StudentAbsenceDays
13. Class
14. N_Egypt
15. N_Iran
16. N_Iraq
17. N_Jordan
18. N_KW
19. N_Lybia
20. N_Morocco
21. N_Palestine
22. N_SaudiArabia
23. N_Syria
24. N_Tunis
25. N_USA
26. N_lebanon
27. N_venzuela
28. B_Egypt
29. B_Iran
30. B_Iraq
31. B_Jordan
32. B_KuwaIT
33. B_Lybia
34. B_Morocco
35. B_Palestine
36. B_SaudiArabia
37. B_Syria
38. B_Tunis
39. B_USA
40. B_lebanon
41. B_venzuela
42. S_A
43. S_B
44. S_C
45. T_Arabic
46. T_Biology
47. T_Chemistry
48. T_English
49. T_French
50. T_Geology
51. T_History
52. T_IT
53. T_Math
54. T_Quran
55. T_Science
56. T_Spanish