In [115]:
# Clone the Repository
!git clone https://FaridRash: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@github.com/FaridRash/HW-SW-B.git Big-Data

fatal: destination path 'Big-Data' already exists and is not an empty directory.

In [116]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.figure_factory as ff
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [117]:
data = pd.read_csv('/content/Big-Data/Data/xAPI-Edu-Data.csv')

In [118]:
#We changed GradeID (str) to (int)
data['GradeIDnew'] = data['GradeID'].apply(lambda x: int(x.split('-')[1]))
data.drop(columns=['GradeID'], inplace=True)
data.rename(columns={'GradeIDnew': 'GradeID'}, inplace=True)

#Changed SectionID from 'A', 'B', 'C' to 0, 1, 2 (int)
data['SectionID'], unique_values = pd.factorize(data['SectionID'])

#Changed Relation from str to int
data['Relation'] = data['Relation'].replace({'Father': 1, 'Mum': 0})
data['Relation'] = data['Relation'].astype(int)

#Changed Semester from str to int
data['Semester'] = data['Semester'].replace({'F': 0, 'S': 1})
data['Semester'] = data['Semester'].astype(int)

#Changed ParentAnsweringSurvey from str to int
data['ParentAnsweringSurvey'] = data['ParentAnsweringSurvey'].replace({'Yes': 1, 'No': 0})
data['ParentAnsweringSurvey'] = data['ParentAnsweringSurvey'].astype(int)

#Changed ParentschoolSatisfaction from str to int
data['ParentschoolSatisfaction'] = data['ParentschoolSatisfaction'].replace({'Good': 1, 'Bad': 0})
data['ParentschoolSatisfaction'] = data['ParentschoolSatisfaction'].astype(int)

#Changed StudentAbsenceDays from str to int
data['StudentAbsenceDays'] = data['StudentAbsenceDays'].replace({'Under-7': 0, 'Above-7': 1})
data['StudentAbsenceDays'] = data['StudentAbsenceDays'].astype(int)

#Change  Topic to int
data['Topic'], unique_values = pd.factorize(data['Topic'])

#Change  NationalITy to int
data['NationalITy'], unique_values = pd.factorize(data['NationalITy'])

#Change  PlaceofBirth to int
data['PlaceofBirth'], unique_values = pd.factorize(data['PlaceofBirth'])

#Changed gender from str to int
data['gender'] = data['gender'].replace({'M': 0, 'F': 1})
data['gender'] = data['gender'].astype(int)

#Changed StudentAbsenceDays from str to int
data['StageID'] = data['StageID'].replace({'lowerlevel': 0, 'MiddleSchool': 1, 'HighSchool': 2})
data['StageID'] = data['StageID'].astype(int)

In [119]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    int64
 1   NationalITy               480 non-null    int64
 2   PlaceofBirth              480 non-null    int64
 3   StageID                   480 non-null    int64
 4   SectionID                 480 non-null    int64
 5   Topic                     480 non-null    int64
 6   Semester                  480 non-null    int64
 7   Relation                  480 non-null    int64
 8   raisedhands               480 non-null    int64
 9   VisITedResources          480 non-null    int64
 10  AnnouncementsView         480 non-null    int64
 11  Discussion                480 non-null    int64
 12  ParentAnsweringSurvey     480 non-null    int64
 13  ParentschoolSatisfaction  480 non-null    int64
 14  StudentAbsenceDays        480 non-null    int64
 15  Class                     480 non-null    object
 16  GradeID                   480 non-null    int64
dtypes: int64(16), object(1)
memory usage: 63.9+ KB

In [120]:
data.to_csv('/content/Big-Data/Data/output.csv', index=False)